Package: https-keyscript
Version: 1.0.11momou
Maintainer: Adam Watkins <adam.gc.watkins@gmail.com>
Description: keyscript to fetch a remote key over HTTPS.
Homepage: https://github.com/brknkfr/https-keyscript
Architecture: all
Priority: optional
Section: admin
Depends: cryptsetup (>= 2), busybox (>= 1.30), openssl (>= 1.1.1n ), curl (>= 7.74.0 )
Recommends: keyutils (>= 1.5)
Installed-Size: 5
